.year-show-img{
  height: 200px;
  background-position: center;
  background-size: cover;
}
.year-show-name{
  background-color: black;
}
.year-show-name a{
  color: white;
}
.year-looks-like{
  padding:0;
  border: 5px solid black;
}
