<h2 class="text-center" id="home-header">MARCH SADNESS</h2>
<div class="text-center">
  <div id="splash">
  </div>
</div>
<h3 class="text-center" id="tagline">What Famous People in Sports Look Like</h3>
<% @years.reverse_each do |year| %>
  <div class="text-center year-link">
    <h3 class="year-index-year">» <%= link_to year.year, year %></h3>
  </div>
<% end %>
<hr>
<h3 class="text-center hosts-name">Dan Le Batard</h3>
<h4 class="text-center hosts-lookslike">Looks like he has a bag of nickels in his cheeks.</h4>
<div class="lookslike-img-container text-center">
  <img class="lookslike-img" src="http://i.imgur.com/KwUjA7u.jpg?1">
</div>
<h3 class="text-center hosts-name">Stugotz</h3>
<h4 class="text-center hosts-lookslike">Looks really unhealthy.</h4>
<div class="lookslike-img-container text-center">
  <img class="lookslike-img" src="http://i.imgur.com/JhRe7tX.png?1">
</div>
