<h2 class="text-center">MARCH SADNESS</h2>
<div class="text-center">
  <div id="splash">
  </div>
</div>
<h3 class="text-center">What Famous People in Sports Look Like</h3>
<% @years.each do |year| %>
  <div class="text-center year-link">
    <h3><%= link_to year.year, year %></h3>
  </div>
<% end %>
<hr>
<h3 class="text-center">Dan Le Batard</h3>
<h4 class="text-center">Looks like he has a bag of nickels in his cheeks.</h4>
<div class="lookslike-img-container text-center">
  <img class="lookslike-img" src="http://a4.espncdn.com/combiner/i?img=%2Fmedia%2Fmotion%2F2016%2F0321%2Fdm_160321_Le_Batard_Cuba_comments%2Fdm_160321_Le_Batard_Cuba_comments.jpg">
</div>
<h3 class="text-center">Stugotz</h3>
<h4 class="text-center">Looks really unhealthy.</h4>
<div class="lookslike-img-container text-center">
  <img class="lookslike-img" src="https://i0.wp.com/fusion.net/wp-content/uploads/2015/11/screen-shot-2015-11-05-at-3-48-51-pm.png?resize=1200%2C630&quality=80&strip=all">
</div>
